<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>first blog</title>
    <link rel="stylesheet" href="../static/css/articles.css">
</head>
    <body class="article">
        <header class="space_between">
            <img src="https://www.djangoproject.com/m/img/logos/django-logo-negative.svg" alt="alt">
            <h3 class="all_articles"><a href="http://127.0.0.1:8000/" class="all_articles">Все статьи</a></h3>
        </header>
        <h1>Название первой статьи</h1>
        <div class="space_between">
            <div>Максим Георгиевич</div>
            <div>19 апреля 2014</div>
        </div>
        <p>Среди русских стихов о любви эти строки – самые знаменитые. Да и во всей отечественной поэзии трудно найти более известное стихотворение. Оно посвящено красавице Анне Керн, которую в 16 лет выдали замуж за почтенного генерала. Брак не был счастливым. Со временем Анна стала искать утешения на стороне, среди ее увлечений был и Пушкин. Из легкомысленной салонной истории, однако, родилось яркое стихотворение, ставшее потом и красивейшим романсом. Музыку для него написал талантливый композитор Михаил Глинка, автор оперы «Иван Сусанин».</p>
        <p>Судьбы переплелись причудливо: у самого Глинки был долгий и несчастливый роман с дочерью Анны Керн – Екатериной. Пожениться им так и не удалось. Екатерина, отчаявшись, вышла за другого, а потом осталась вдовой с маленьким сыном практически без средств. Выжить им удалось благодаря помощи Григория Пушкина, младшего сына поэта. Сын Екатерины – Юлий Шокальский – получил образование и стал известным ученым.</p>
    </body>
</html>